@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

:root {
  --font: "Nunito Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: #333;
  color: white;
}

#topo {
  background-color: rgb(21, 78, 153);
  padding: 10px 0;
}

#topo-lista {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.link {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
}

#addvenda {
  padding: 20px;
  background-color: #222;
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  border-radius: 10px;
}

select,
#product-name {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#pesquisa {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px 0;
}

#product-name {
  border: none;
  flex: 1;
  font-size: 1rem;
}

#product-name:focus {
  outline: none;
}

#iconsearch {
  color: black;
  margin-right: 5px;
}

#lista-produtos {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  overflow: hidden;
}

.produto {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 120px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.produto > h4 {
  height: 100px;
}

.produto img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

#sem-produtos {
  color: red;
  font-weight: bold;
  margin-top: 15px;
  display: none;
}

.produto-adicionado {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}

.foto-produto {
  border-radius: 20px;
}

.info-produtos {
  height: 180px;
}

.numup,
.numdown {
  width: 20px;
  background-color: transparent;
  border: none;
  display: inline;
}
.numup > i,
.numdown > i {
  filter: invert();
}

.numup:hover,
.numdown:hover {
  cursor: pointer;
}

.numinfo {
  display: inline;
  background-color: transparent;
  color: white;
  border: 0;
  width: 100px;
  text-align: center;
}

.remove-item {
  margin-top: 20px;
  background-color: transparent;
  border: 0;
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

.remove-item > i {
  filter: invert();
}

.remove-title {
  display: inline-block;
  color: white;
}

.remove-item:hover{
  cursor: pointer;
}